# Certified Python Programming Online Course by Jawan Pakistan

## Roll No: JP13443

### Name :  Muhammad Zubair Minhas

# ASSIGNMENT NO # 3:

### Task # 1

1. Write a Python program to print the following string in a specific format (see the
output).

    Twinkle, twinkle, little star,
        How I wonder what you are!
            Up above the world so high,
            Like a diamond in the sky.

    Twinkle, twinkle, little star,
        How I wonder what you are

In [16]:
print("OUTPUT :")
#CODE:
print("\tTwinkle,  twinkle,  little  star,\n\t\tHow  I  Wonder  What You  are !\n\t\t\t Up above the world so high, \n\t\t\t Like a diamond in the sky.\n\n\tTwinkle,  twinkle,  little  star,\n\t\t How  I  Wonder  What You  are  ")

OUTPUT :
	Twinkle,  twinkle,  little  star,
		How  I  Wonder  What You  are !
			 Up above the world so high,
			 Like a diamond in the sky.

	Twinkle,  twinkle,  little  star,
		 How  I  Wonder  What You  are

# Task # 2

2. Write a Python program to get the Python version you are using

In [29]:
print("OUTPUT :")
#CODE:
import sys
ver = sys.version
print(f"\tPython Version : {ver}")

OUTPUT :
	Python Version : 3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

# Task # 3

3. Write a Python program to display the current date and time.

In [26]:
print("OUTPUT :")
#CODE:
import datetime
today= datetime.datetime.now()
print(f"\tCurrent Date And Time: \t{today}")

OUTPUT :
	Current Date And Time: 	2021-10-21 22:57:47.685867

# Task # 4

4. Write a Python program which accepts the radius of a circle from the user and compute
the area.

In [23]:
print("OUTPUT :")
#CODE:
radius=int(input("\tEnter The Radius To Find The Area:"))
pi=3.14
Area=radius*pi
print(f"\tRadius is : {radius} \n\tArea is :{Area}")

OUTPUT :
	Enter The Radius To Find The Area:23
	Radius is : 23
	Area is :72.22

# Task # 5

5. Write a Python program which accepts the user's first and last name and print them in
reverse order with a space between them.

In [32]:
print("OUTPUT :")
#CODE:
First_Name=input("\tEnter The First Name :")
Last_Name=input("\tEnter The Last Name :")
Full_Name=First_Name+" "+Last_Name
print("\tThe User Name is  : ",Full_Name)
print("\tThe User Name in Reverse Order: ",Full_Name[::-1])

OUTPUT :
	Enter The First Name :Muhammad Zubair
	Enter The Last Name :Minhas
	The User Name is  :  Muhammad Zubair Minhas
	The User Name in Reverse Order:  sahniM riabuZ dammahuM

# Task # 6

6. Write a python program which takes two inputs from user and print them addition

In [34]:
print("OUTPUT :")
#CODE:
a=int(input("\tEnter The Value of First Number :"))
b=int(input("\tEnter The Value Of Second Number :"))
c=a+b
print(f"\tThe Addition of {a} and {b} is : {c}")

OUTPUT :
	Enter The Value of First Number :3
	Enter The Value Of Second Number :4
	The Addition of 3 and 4 is : 7

# Task # 7

7. Write a program which takes 5 inputs from user for different subjectâ€™s marks, total it
and generate mark sheet using grades ?

In [37]:
print("OUTPUT :")
#CODE:
name = input("\tEnter Student Name :")
a1 = int(input("\tEnter First Subject Marks :"))
a2 = int(input("\tEnter Second Subject Marks :"))
a3 = int(input("\tEnter Third Subject Marks :"))
a4 = int(input("\tEnter Fourth Subject Marks :"))
a5 = int(input("\tEnter Fifth Subject Marks :"))
tmark = 500
tsum = a1+a2+a3+a4+a5
per = (tsum*100/tmark)

print(f"\n********************Marksheet of {name}********************\n")
print(f"\t\tFirst Subject Mark :{a1}\n\t\tSecond Subject Mark :{a2}\n\t\tThird Subject Mark :{a3}\n\t\tFourth Subject Mark :{a4}\n\t\tFifth Subject Mark :{a5}")
print("\t\tTotal Marks :  500")
print(f"\t\tObtainted Marks : {tsum}")
print(f"\t\tPercentage : {per}")

if(per>80):
    print("\t\t PASS ")
    print("\t\tGrade :A +")

elif(per<80 and per >70):
    print("\t\t PASS ")
    print("\t\tGrade :A ")

elif(per<70 and per >60):
    print("\t\t PASS ")
    print("\t\tGrade :B+ ")

elif(per<70 and per >60):
    print("\t\t PASS ")
    print("\t\tGrade :B ")

elif(per<60 and per >50):
    print("\t\t PASS ")
    print("\t\tGrade :C ")

elif(per<50 and per >40):
    print("\t\t PASS ")
    print("\t\tGrade :D")

else:
    print("\t\t FAIL ")

OUTPUT :
	Enter Student Name :Muhammad Zubair
	Enter First Subject Marks :45
	Enter Second Subject Marks :65
	Enter Third Subject Marks :76
	Enter Fourth Subject Marks :68
	Enter Fifth Subject Marks :67

********************Marksheet of Muhammad Zubair ********************

		First Subject Mark :45
		Second Subject Mark :65
		Third Subject Mark :76
		Fourth Subject Mark :68
		Fifth Subject Mark :67
		Total Marks :  500
		Obtainted Marks : 321
		Percentage : 64.2
		 PASS
		Grade :B+

# Task # 8

8. Write a program which take input from user and identify that the given number is even
or odd?

In [39]:
print("OUTPUT :")
#CODE:
num = int(input("\tEnter a number :"))
c=num%2
if(c==0):
    print(f"\t{num} Is Even Number")
else:
    print(f"\t{num} Is Odd Number")

OUTPUT :
	Enter a number :23
	23 Is Odd Number

In [40]:
print("OUTPUT :")
#CODE:
num = int(input("\tEnter a number :"))
c=num%2
if(c==0):
    print(f"\t{num} Is Even Number")
else:
    print(f"\t{num} Is Odd Number")

OUTPUT :
	Enter a number :16
	16 Is Even Number

# Task # 9

9. Write a program which print the length of the list?

In [44]:
print("OUTPUT :")
#CODE:
A=[1,2,3,4,5,6,7,8,9,11,14,56,34]
print(f"\t List is : {A}")
print("\tlength of list :",len(A))

OUTPUT :
	 List is : [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 14, 56, 34]
	length of list : 13

# Task # 10

10.Write a Python program to sum all the numeric items in a list?

In [50]:
print("OUTPUT :")
#CODE:
A=[1,3,4,6,2,7,9,10,15]
sum = 0
for i in range(0,len(A)):
    sum +=  A[i]
    
print("\t List : ",A)
print("\t The Sum Of All Value IN List A : ",sum)

OUTPUT :
	 List :  [1, 3, 4, 6, 2, 7, 9, 10, 15]
	 The Sum Of All Value IN List A :  57

# Task # 11

11.Write a Python program to get the largest number from a numeric list.

In [54]:
print("OUTPUT :")
#CODE:
A=[1,5,6,8,35,245,67,98,65,205,100]
Large=A[0]
for i in range(0,len(A)):
    if(Large<A[i]):
        Large=A[i]
        
print("\t List :  ",A)
print("\t The Largest Number In The List ",Large)

OUTPUT :
	 List :   [1, 5, 6, 8, 35, 245, 67, 98, 65, 205, 100]
	 The Largest Number In The List  245

# Task # 12

12. Take a list, say for example this one:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

Write a program that prints out all the elements of the list that are less than 5.

In [57]:
print("OUTPUT :")
#CODE:
A = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
S=[]
L=[]
for i in range(0,len(A)):
    if(A[i]<5):
        S.append(A[i])
        L.append([i])
print("\t List :",A)
print("\t The Item Is Present in List A less than 5==>",S)
print("\t The Item Index that Is Present in List A less than 5==>",L)

OUTPUT :
	 List : [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
	 The Item Is Present in List A less than 5==> [1, 1, 2, 3]
	 The Item Index that Is Present in List A less than 5==> [[0], [1], [2], [3]]